@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.section-certificates {}

.item-certificate {
    margin-bottom: 20px;

    img {
        display: block;
    }

    &__udemy {}

    &__bordered {
        padding: 4px;
        border: 1px solid $color-divider;
    }
}
