@import '../../styles/variables.scss';
@import '../../styles/functions.scss';

.section-certificates {
    &__item {
        margin-bottom: rem($base * 5);

        &--bordered {
            padding: rem($base);
            border: 1px solid $color-divider;
        }
    }

    &__img {
        display: block;
    }
}
