@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

$item-vertical-indent: 3em;
$item-vertical-indent-mobile: 1em;
$col-vertical-indent: 3em;
$col-vertical-indent-mobile: 1em;

.chronology-item {
    &:not(:first-child) {
        padding-top: $item-vertical-indent;
    }

    &:not(:last-child) {
        padding-bottom: $item-vertical-indent;
        border-bottom: 1px solid $color-divider;
    }

    td.divider {
        padding: 0 .3em;
    }

    .date,
    .data {
        padding-top: $col-vertical-indent;
        padding-bottom: $col-vertical-indent;
    }

    .date {
        .months {
            @include fsi(14, 21);
        }

        .years {
            @include fsi(36, 36);

            font-weight: 600;
        }
    }

    .name {
        @include fsi(16, 24);

        margin-bottom: .3em;
    }

    .description {
        @include fsi(12, 18);
    }

    .data {
        padding-left: 2.4em;
        border-left: 1px solid $color-divider;

        .title {
            @include fsi(18, 27);

            margin-bottom: .5em;
        }

        .text {
            ul {
                padding: 0 0 0 1.5em;
                margin: 0;
            }
        }
    }

    @media (max-width: $screen-xs-max) {
        padding-top: $item-vertical-indent-mobile;
        padding-bottom: $item-vertical-indent-mobile;

        .date,
        .data {
            padding-top: $col-vertical-indent-mobile;
            padding-bottom: $col-vertical-indent-mobile;
        }

        .data {
            padding-left: 0;
            border-left: none;
        }
    }
}

.responsibility--object {
    position: relative;
    margin-left: -1.5em;
    list-style-type: none;

    &:not(:first-child) { margin-top: 1em; }
}
