@import '../../styles/variables.scss';
@import '../../styles/functions.scss';

@mixin content-vertical-indents () {
    $col-vertical-indent: rem($base * 4);
    $col-vertical-indent-mobile: rem($base);

    padding-top: $col-vertical-indent;
    padding-bottom: $col-vertical-indent;

    @media (max-width: $screen-xs-max) {
        padding-top: $col-vertical-indent-mobile;
        padding-bottom: $col-vertical-indent-mobile;
    }
}

.chronology-item {
    $item-vertical-indent: rem($base * 7);

    &:not(:last-child) {
        padding-bottom: $item-vertical-indent;
    }

    & + & {
        padding-top: $item-vertical-indent;
        border-top: 1px solid $color-divider;
    }
}

.chronology-period {
    @include content-vertical-indents();

    display: inline-grid;
    grid-template-areas:
        'month-start . month-end'
        'year-start divider year-end';

    &__month-start,
    &__month-end {
        font-size: rem($font-size-xs);
        line-height: rem($line-height-xs);
    }

    &__year-start,
    &__year-end,
    &__divider {
        font-size: rem($font-size-m);
        font-weight: $font-weight-semi-bold;
        line-height: rem($line-height-m);
    }

    &__month-start {
        grid-area: month-start;
    }

    &__month-end {
        grid-area: month-end;
        color: $color-green;
    }

    &__year-start {
        grid-area: year-start;
    }

    &__year-end {
        grid-area: year-end;
        color: $color-green;
    }

    &__divider {
        grid-area: divider;
        padding-right: rem($base * 2);
        padding-left: rem($base * 2);
    }
}

.chronology-data {
    @include content-vertical-indents();

    padding-left: rem($base * 6);
    border-left: 1px solid $color-divider;

    &__title {
        margin-bottom: rem($base);
        font-size: rem($font-size-s);
        line-height: rem($line-height-s);
    }

    &__list {
        padding: 0;
        margin: 0;
        font-size: rem($font-size-xs);
        line-height: rem($line-height-xs);
        list-style: none;
    }

    &__item {
        &--string {
            margin-left: rem($base * 10);
            list-style-type: circle;
        }

        &--object {
            &:not(:first-child) {
                margin-top: rem($base * 3);
            }
        }
    }

    @media (max-width: $screen-xs-max) {
        padding-left: 0;
        border-left: 0;
    }
}

.chronology-responsibility {
    &__title {
        font-weight: $font-weight-bold;
    }
}
