@import './grid.scss';
@import './functions.scss';
@import './variables.scss';

/* ------------------------ GENERAL ------------------------ */
*,
::after,
::before {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: $font-family-base;
    color: $color-gray;
    background-color: $color-white;
}

.img-responsive {
    max-width: 100%;
    height: auto;
}

.text-center {
    text-align: center;
}

.g-inner {
    position: static !important;
}

.h2 {
    padding: 0;
    margin: 0 0 rem($base * 5);
    font-size: rem($font-size-l);
    font-weight: $font-weight-regular;
    line-height: rem($line-height-l);
    text-transform: uppercase;
    letter-spacing: rem(1px);

    &__helper {
        color: $color-green;
    }

    @media (max-width: $screen-xs-max) {
        font-size: rem($font-size-m);
        line-height: rem($line-height-m);
    }
}

.section-indent {
    padding-top: rem($base * 15);
    padding-bottom: rem($base * 15);

    & + & {
        border-top: 2px solid $color-divider;
    }

    @media (max-width: $screen-xs-max) {
        padding-top: rem($base * 10);
        padding-bottom: rem($base * 10);
    }
}

.color-green { color: $color-green; }

/* ------------------------ / GENERAL ------------------------ */
