@import './variables.scss';
@import './mixins.scss';

/* ------------------------ GENERAL ------------------------ */
html,
body {
    position: relative;
    height: 100%;
    min-height: 100%;
}

html {
    font-size: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: $font-family-base;
    font-size: 62.5%;
    color: $color-gray;
    background-color: $color-white;
}

img { border: none; }

p {
    padding: 0;
    margin: .8em 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary { display: block; }

audio,
canvas,
progress,
video {
    display: inline-block;
    vertical-align: baseline;
}

a {
    outline: none;
    &:hover { text-decoration: none; }
}

form {
    padding: 0;
    margin: 0;
}

input,
textarea,
select,
button {
    font-family: $font-family-base;
}

input,
textarea,
select {
    font-size: 12px;
    background-color: $color-white;
    outline: none;
}

textarea {
    overflow: auto;
    resize: none;
}

:focus { outline: none; }

:-moz-focus-inner { border: 0; }

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

h2 {
    @include fsi(46, 60);

    padding: 0;
    margin: 0 0 .5em;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: .02em;

    span { color: $color-green; }

    &.inverted { color: $color-white; }

    @media (max-width: $screen-xs-max) {
        @include fsi(40, 50);
    }
}

.section-indent {
    padding-top: 6em;
    padding-bottom: 6em;

    &:not(:first-child) {
        border-top: 2px solid $color-divider;
    }

    @media (max-width: $screen-xs-max) {
        padding-top: 4em;
        padding-bottom: 4em;
    }
}

.base-text {
    @include fsi(15, 26);
}

.base-link {
    @include transition(.2s);

    color: $color-gray;

    &:hover {
        color: $color-green;
    }
}

.btn-base {
    @include fsi(14, 20);
    @include transition(.2s);

    display: inline-block;
    padding: 1em 1.4285em;
    color: $color-white;
    text-transform: uppercase;
    cursor: pointer;
    background-color: $color-green;
    border: none;

    &:hover {
        color: $color-white;
        background-color: darken($color-green, 10%);
    }

    &:active,
    &:focus {
        color: $color-white;
        text-decoration: none;
    }
}

.color-green { color: $color-green; }

/* ------------------------ / GENERAL ------------------------ */

/* ------------------------ HEADER ------------------------ */
.section-header {
    position: relative;
    height: 100vh;
    background: url(/assets/images/bg-top.jpg) no-repeat 50% 50%;
    background-size: cover;

    .data {
        @include transform(translate(-50%, -50%));

        position: absolute;
        top: 50%;
        left: 50%;
        text-align: center;
        text-transform: uppercase;

        .name {
            @include fsi(100, 100);

            margin-bottom: .1em;
            font-weight: bold;
            color: $color-white;
            text-shadow: 3px -3px 9px rgba(0, 0, 0, .4);

            span { color: $color-green; }
        }

        .post {
            @include fsi(30, 30);

            font-weight: 300;
            color: $color-white;
        }

        .scroll_down {
            @include rc(50%);
            @include transition(.2s);
            @include transform(translate(-50%, 0));

            position: absolute;
            top: 100%;
            left: 50%;
            display: block;
            width: 7em;
            height: 7em;
            margin-top: 5em;
            color: $color-white;
            cursor: pointer;
            background-color: rgba($color-green, .5);
            border: 1px solid $color-green;

            i {
                @include fsi(20, 20);
                @include transform(translate(-50%, -50%));

                position: absolute;
                top: 50%;
                left: 50%;
            }

            &:hover { background-color: rgba($color-green, .7); }

            @media (max-height: 700px) { display: none; }
        }
    }

    &::before {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: block;
        content: '';
        background-color: rgba(0, 0, 0, .75);
    }

    @media (max-width: $screen-xs-max) {
        .data { font-size: .4em; }
    }
}

/* ------------------------ / HEADER ------------------------ */

/* ------------------------ NAV ------------------------ */
.section-nav {
    @include shadow(0 0 10px rgba(0, 0, 0, .5));

    position: relative;
    z-index: 20;
    height: 9em;
    padding-top: 3em;
    padding-bottom: 3em;
    margin-top: -9em;
    background-color: $color-gray;

    &__name {
        @include fsi(30, 30);
        @include transition(.2s);

        font-weight: 600;
        color: $color-white;
        text-shadow: 3px -3px 9px rgba(0, 0, 0, .5);
        text-transform: uppercase;
        white-space: nowrap;
        cursor: default;
        opacity: 0;

        &-secondary { color: $color-green; }

        @media (max-width: $screen-sm-max) {
            @include fsi(22, 24);
        }
    }

    .body-fixed & {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        margin-top: 0;

        &__name { opacity: 1; }
    }

    .navigation {
        position: static;

        ul {
            @include clearfix;
            @include list-null;

            li {
                display: inline-block;

                a {
                    @include fsi(14, 30);
                    @include transition(.2s);

                    color: $color-white;
                    text-decoration: none;
                    text-transform: uppercase;

                    &:hover { color: $color-green; }
                }

                @media (min-width: $screen-md) {
                    &:not(:first-child) {
                        position: relative;
                        margin-left: 22px;

                        &::before {
                            @include rc(50%);
                            @include transform(translate(0, -50%));

                            position: absolute;
                            top: 50%;
                            left: -13px;
                            display: block;
                            width: 4px;
                            height: 4px;
                            content: '';
                            background-color: $color-white;
                        }
                    }
                }
            }

            @media (max-width: $screen-sm-max) {
                position: absolute;
                top: 100%;
                right: 0;
                left: 0;
                display: none;
                background-color: $color-gray;
                border-top: 1px solid rgba(255, 255, 255, .5);

                li {
                    display: block;
                    text-align: center;

                    a {
                        display: block;
                        padding-top: .5em;
                        padding-bottom: .5em;
                    }

                    &:not(:first-child) { border-top: 1px solid rgba(255, 255, 255, .2); }
                }

                &.active { display: block; }
            }
        }
    }

    @media (max-width: $screen-sm-max) {
        height: 5em;
        padding-top: 1.2em;
        padding-bottom: 1em;
        margin-top: -5em;
    }
}

.nav-toggle {
    display: none;
    padding: 6px;
    margin: 0;
    cursor: pointer;
    background: none;
    border: none;

    &-stripe {
        @include rc(1px);

        display: block;
        width: 22px;
        height: 2px;
        background-color: $color-white;

        & + & { margin-top: 4px; }
    }

    @media (max-width: $screen-sm-max) { display: inline-block; }
}

/* ------------------------ / NAV ------------------------ */

/* ------------------------ ABOUT ME ------------------------ */
.section-about {
    .img {
        margin-bottom: 2em;

        img { margin: 0 auto; }
    }

    .data {
        .name {
            @include fsi(18, 27);

            margin-bottom: .1666em;
            color: $color-green;
            text-transform: uppercase;
        }

        .post {
            @include fsi(14, 21);

            margin-bottom: 1em;
            text-transform: uppercase;
        }

        .data { margin-bottom: 1em; }
    }
}

/* ------------------------ / ABOUT ME ------------------------ */

/* ------------------------ CONTACTS ------------------------ */
.contacts-col {
    @media (max-width: $screen-xs-max) {
        &:not(:first-child) {
            margin-top: 1em;
        }
    }
}

/* ------------------------ / CONTACTS ------------------------ */
