$font-family-base: 'Open Sans', Arial, Helvetica, sans-serif;

$color-green: #19bd9b;
$color-gray: #2a2b2d;
$color-white: #fff;

$color-divider: #ddd;

$screen-xs-max: 767px;
$screen-sm-max: 991px;
$screen-md: 992px;

$transition-duration: .2s;
