@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.section-header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: url(/assets/images/bg-top.jpg) no-repeat 50% 50%;
    background-size: cover;

    .data {
        position: relative;
        flex-basis: 50%;
        text-align: center;
        text-transform: uppercase;

        .name {
            @include fsi(100, 100);

            margin: 0 0 .1em;
            font-weight: 600;
            color: $color-white;
            text-shadow: 3px -3px 9px rgba(0, 0, 0, .4);

            span { color: $color-green; }
        }

        .post {
            @include fsi(30, 30);

            font-weight: 300;
            color: $color-white;
        }

        .attention {
            @include fsi(35, 50);

            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 1em;

            &-logo {
                width: 8.5em;
            }
        }
    }

    &::before {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: block;
        content: '';
        background-color: rgba(0, 0, 0, .75);
    }

    @media (max-width: $screen-xs-max) {
        .data { font-size: .4em; }
    }
}
