@import '../../styles/variables.scss';
@import '../../styles/functions.scss';

.section-header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: url(/assets/images/bg-top.jpg) no-repeat 50% 50%;
    background-size: cover;

    &__data {
        position: relative;
        flex-basis: 30%;
        text-align: center;
        text-transform: uppercase;
    }

    &__full-name {
        font-size: rem($font-size-xl);
        font-weight: $font-weight-semi-bold;
        line-height: rem($line-height-xl);
        color: $color-white;
        text-shadow: 3px -3px 9px rgba(0, 0, 0, .5);
    }

    &__second-name {
        color: $color-green;
    }

    &::before {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: block;
        content: '';
        background-color: rgba(0, 0, 0, .7);
    }

    @media (max-width: $screen-xs-max) {
        &__full-name {
            font-size: rem($font-size-l);
            line-height: rem($line-height-l);
        }
    }
}
