@import '../../styles/variables.scss';
@import '../../styles/functions.scss';

.section-contacts {
    &__list {
        display: flex;
        justify-content: center;
        padding: 0;
        margin: 0;
        list-style: none;
    }

    &__item {
        padding: rem($base) rem($base * 3);

        &--separator {
            width: 1px;
            padding: 0;
            margin: 0 rem($base * 2);
            background-color: $color-divider;
        }
    }

    &__link {
        display: block;
        color: $color-gray;
        transition: color $transition-duration;

        &:hover,
        &:focus {
            color: $color-green;
        }
    }

    &__icon {
        display: block;
    }
}
